NET "pin_outOne" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "pin_outTwo" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "pin_outThree" LOC = P35 | IOSTANDARD = LVCMOS33;

NET "io_led<0>" | IOSTANDARD = LVTTL;
NET "io_led<1>" | IOSTANDARD = LVTTL;
NET "io_led<2>" | IOSTANDARD = LVTTL;
NET "io_led<3>" | IOSTANDARD = LVTTL;
NET "io_led<4>" | IOSTANDARD = LVTTL;
NET "io_led<5>" | IOSTANDARD = LVTTL;
NET "io_led<6>" | IOSTANDARD = LVTTL;
NET "io_led<7>" | IOSTANDARD = LVTTL;

NET "io_led<8>" | IOSTANDARD = LVTTL;
NET "io_led<9>" | IOSTANDARD = LVTTL;
NET "io_led<10>" | IOSTANDARD = LVTTL;
NET "io_led<11>" | IOSTANDARD = LVTTL;
NET "io_led<12>" | IOSTANDARD = LVTTL;
NET "io_led<13>" | IOSTANDARD = LVTTL;
NET "io_led<14>" | IOSTANDARD = LVTTL;
NET "io_led<15>" | IOSTANDARD = LVTTL;

NET "io_led<16>" | IOSTANDARD = LVTTL;
NET "io_led<17>" | IOSTANDARD = LVTTL;
NET "io_led<18>" | IOSTANDARD = LVTTL;
NET "io_led<19>" | IOSTANDARD = LVTTL;
NET "io_led<20>" | IOSTANDARD = LVTTL;
NET "io_led<21>" | IOSTANDARD = LVTTL;
NET "io_led<22>" | IOSTANDARD = LVTTL;
NET "io_led<23>" | IOSTANDARD = LVTTL;

NET "io_dip<23>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<22>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<21>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<20>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<19>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<18>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<17>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<16>" | IOSTANDARD = LVTTL | PULLDOWN;

NET "io_dip<15>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<14>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<13>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<12>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<11>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<10>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<9>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<8>" | IOSTANDARD = LVTTL | PULLDOWN;

NET "io_dip<7>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<6>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<5>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<4>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<3>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<2>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<1>" | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<0>" | IOSTANDARD = LVTTL | PULLDOWN;