NET "sigA" LOC = P2 | IOSTANDARD = LVCMOS33;
NET "sigB" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "sigCin" LOC = P8 | IOSTANDARD = LVCMOS33;

NET "pin_outOne" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "pin_outTwo" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "pin_outThree" LOC = P35 | IOSTANDARD = LVCMOS33;

NET "io_led<0>" | IOSTANDARD = LVTTL;
NET "io_led<1>" | IOSTANDARD = LVTTL;
NET "io_led<2>" | IOSTANDARD = LVTTL;
NET "io_led<3>" | IOSTANDARD = LVTTL;
NET "io_led<4>" | IOSTANDARD = LVTTL;
NET "io_led<5>" | IOSTANDARD = LVTTL;
NET "io_led<6>" | IOSTANDARD = LVTTL;
NET "io_led<7>" | IOSTANDARD = LVTTL;

NET "io_led<8>" | IOSTANDARD = LVTTL;
NET "io_led<9>" | IOSTANDARD = LVTTL;
NET "io_led<10>" | IOSTANDARD = LVTTL;
NET "io_led<11>" | IOSTANDARD = LVTTL;
NET "io_led<12>" | IOSTANDARD = LVTTL;
NET "io_led<13>" | IOSTANDARD = LVTTL;
NET "io_led<14>" | IOSTANDARD = LVTTL;
NET "io_led<15>" | IOSTANDARD = LVTTL;

NET "io_led<16>" | IOSTANDARD = LVTTL;
NET "io_led<17>" | IOSTANDARD = LVTTL;
NET "io_led<18>" | IOSTANDARD = LVTTL;
NET "io_led<19>" | IOSTANDARD = LVTTL;
NET "io_led<20>" | IOSTANDARD = LVTTL;
NET "io_led<21>" | IOSTANDARD = LVTTL;
NET "io_led<22>" | IOSTANDARD = LVTTL;
NET "io_led<23>" | IOSTANDARD = LVTTL;